// General
@mixin button_filter_style {
    text-overflow: ellipsis;
    color: white;
    width: 100%;
    text-align: left;
    border: none;
    padding: 1em;
}

// Header - Desktop version
header{
    
    .logo{
        justify-content: center;
        
        img{
            width: 15em;

        }
    }

    .container{

        nav{
            padding: 0px;

            #search_wrapper{

                background-color: #E7E7E7;
                border-radius: 0.2em;
                width: 100%;
                margin: 0;
                display: flex;
                justify-content: space-between;

                #search_input{
                    background-color: transparent;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    background-color: transparent;
                    width: 95%;
                    border: none;
                    z-index:1;
                }
                
                .fa-search{
                    align-self: center;
                    margin-right: 0.5em;
                }
            }
        }

        #dropdown_filters{
            margin-top:1em;

            #filter_dropdown{
                border-radius: 0.2em;
                border: none;
                padding:0;

                #ingredients_filter{
                    background-color: #3282F7;
                    @include button_filter_style;

                }

                #appareil_filter{
                    background-color: #68D9A4;
                    @include button_filter_style;
                }

                #ustensils_filter{
                    background-color: #ED6454;
                    @include button_filter_style;
                }

                .menu_arrow{
                    color: white;
                    align-items: center;
                    position: absolute;
                    right:25px;
                    top:0;
                    height: 100%;
                    display: flex;
                    pointer-events: none;

                    .fas{
                        position: absolute;
                        justify-content: center;
                        font-size: 1.2em;
                    }

                    .fa-chevron-up{
                        display: none;
                    }
                }

                #ingredients_dropdown_menu{
                    background-color: #3282F7;
                }

                #appareil_dropdown_menu{
                    background-color: #68D9A4;
                }

                #ustensils_dropdown_menu{
                    background-color: #ED6454;
                }

                input::placeholder{
                    opacity: 1;
                }

                .dropdown-multicol{
                    width: auto;
                    padding:0;
                    margin:0;
                    margin-top:-3px;
                    border: none;
                    border-radius: 0;
                    width: 100%;
                    padding-bottom:1em;

                    .dropdown-col{ 
                        width: 100%;

                        .dropdown-item{
                            color:white;
                        }

                        .dropdown-item:hover{
                            color:grey;
                        }
                    }
                }
            }
        }
    }
}

// Body - Desktop version
body{
    padding: 2em 0em;
}

main{

    .container{

        #recipe_deck{
            margin-right: -30px;
            margin-left: -30px;
                
            #recipe_card{
                height: auto;
                border:none;
                margin-bottom: 2em;

                #recipe_image{
                    height: 10em;
                    background-color:#C7BEBE;
                    border: none;
                    border-radius: 0.2em 0.2em 0 0;
                }

                .card-body{
                    padding: 0.5em 1em;
                    background-color: #E7E7E7;
                    height: 10em;
                    border-radius: 0 0 0.2em 0.2em;

                    .card-title{
                        font-size: 0.8em;
                        font-weight: 400;
                    }

                    #recipe_time{
                        text-align: right;
                        font-size: 0.9em;
                        font-weight: 500;
                    }

                    #recipe_description{
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp:5;
                        -webkit-box-orient: vertical;
                        font-size: xx-small;
                        height: 7.5em;
                    }

                    ul{
                        font-size:0.55em;
                        line-height: 1.1em;
                        list-style: none;
                    }
                }
            }
        }
    }
}

// Smartphone version
@media(max-width:769px){

    body{
        padding: 2em;
    }

    header{
    
        .container{

            nav{
        
                #search_wrapper{
        
                    #searchbar{
                        width: 90%;
                    }
                    
                    #search_button{
                        width: 10%;
                    }
                }
            }
        }
    }
}