.hidden {
  display: none;
}

.on_tag {
  display: none;
}

header .logo {
  justify-content: center;
}
header .logo img {
  width: 15em;
}
header .container nav {
  padding: 0px;
  margin-bottom: 0.5em;
}
header .container nav #search_wrapper {
  background-color: #E7E7E7;
  border-radius: 0.2em;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
header .container nav #search_wrapper #search_input {
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  border: none;
  z-index: 1;
  padding-right: 5em;
}
header .container nav #search_wrapper .fa-search {
  align-self: center;
  margin-right: 0.5em;
  position: absolute;
  right: 0;
}
header .container #all_tags {
  margin-bottom: 0.5em;
}
header .container #all_tags #ingredient_tag, header .container #all_tags #appareil_tag, header .container #all_tags #ustensil_tag {
  width: auto;
  padding: 0.5em 0em 0.5em 1em;
  color: white;
  border-radius: 0.3em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
header .container #all_tags .fa-times-circle {
  padding: 0em 1em;
  cursor: pointer;
}
header .container #all_tags #ingredient_tag {
  background-color: #3282F7;
}
header .container #all_tags #appareil_tag {
  background-color: #68D9A4;
}
header .container #all_tags #ustensil_tag {
  background-color: #ED6454;
}
header .container #dropdown_filters .filter_dropdown {
  padding: 0;
}
header .container #dropdown_filters .filter_dropdown #ingredients_filter {
  background-color: #3282F7;
  text-overflow: ellipsis;
  color: white;
  width: 100%;
  text-align: left;
  border: none;
  padding: 1em;
}
header .container #dropdown_filters .filter_dropdown #appareil_filter {
  background-color: #68D9A4;
  text-overflow: ellipsis;
  color: white;
  width: 100%;
  text-align: left;
  border: none;
  padding: 1em;
}
header .container #dropdown_filters .filter_dropdown #ustensils_filter {
  background-color: #ED6454;
  text-overflow: ellipsis;
  color: white;
  width: 100%;
  text-align: left;
  border: none;
  padding: 1em;
}
header .container #dropdown_filters .filter_dropdown .menu_arrow {
  color: white;
  align-items: center;
  position: absolute;
  right: 25px;
  top: 0;
  height: 100%;
  display: flex;
  pointer-events: none;
}
header .container #dropdown_filters .filter_dropdown .menu_arrow .fas {
  position: absolute;
  justify-content: center;
  font-size: 1.2em;
}
header .container #dropdown_filters .filter_dropdown .dropdown-menu {
  height: 100%;
}
header .container #dropdown_filters .filter_dropdown #ingredients_dropdown_menu {
  background-color: #3282F7;
  height: 0;
}
header .container #dropdown_filters .filter_dropdown #appareil_dropdown_menu {
  background-color: #68D9A4;
  height: 0;
}
header .container #dropdown_filters .filter_dropdown #ustensils_dropdown_menu {
  background-color: #ED6454;
  height: 0;
}
header .container #dropdown_filters .filter_dropdown input::placeholder {
  opacity: 1;
}
header .container #dropdown_filters .filter_dropdown .dropdown-multicol {
  padding: 0;
  margin: 0;
  margin-top: -5px;
  border: none;
  width: 100%;
  padding-bottom: 1em;
}
header .container #dropdown_filters .filter_dropdown .dropdown-multicol .dropdown-col {
  width: 195%;
  flex-wrap: wrap;
  background-color: inherit;
  padding: 1em 0em;
  border-radius: 0.2em;
}
header .container #dropdown_filters .filter_dropdown .dropdown-multicol .dropdown-col .dropdown-item {
  color: white;
  width: 33.333333%;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 0.2em 1em;
}
header .container #dropdown_filters .filter_dropdown .dropdown-multicol .dropdown-col .dropdown-item:hover {
  color: grey;
  background-color: white;
}
header .container #dropdown_filters .filter_dropdown .dropdown-multicol .dropdown-col .dropdown-item:active {
  color: white;
  background-color: inherit;
}

body {
  padding: 2em 0em;
}

main .container #recipe_deck {
  margin-right: -30px;
  margin-left: -30px;
}
main .container #recipe_deck #recipe_card {
  height: auto;
  border: none;
  margin-bottom: 2em;
}
main .container #recipe_deck #recipe_card #recipe_image {
  height: 10em;
  background-color: #C7BEBE;
  border: none;
  border-radius: 0.2em 0.2em 0 0;
}
main .container #recipe_deck #recipe_card .card-body {
  padding: 0.5em 1em;
  background-color: #E7E7E7;
  height: 10em;
  border-radius: 0 0 0.2em 0.2em;
}
main .container #recipe_deck #recipe_card .card-body .card-title {
  font-size: 0.8em;
  font-weight: 400;
}
main .container #recipe_deck #recipe_card .card-body #recipe_time {
  text-align: right;
  font-size: 0.9em;
  font-weight: 500;
}
main .container #recipe_deck #recipe_card .card-body #recipe_description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: xx-small;
  height: 7.5em;
}
main .container #recipe_deck #recipe_card .card-body ul {
  font-size: 0.55em;
  line-height: 1.1em;
  list-style: none;
}
main .container #no_result {
  text-align: center;
}

@media (max-width: 990px) {
  body {
    padding: 2em;
  }

  header .container nav #search_wrapper #searchbar {
    width: 90%;
  }
  header .container nav #search_wrapper #search_button {
    width: 10%;
  }
  header .container #dropdown_filters .filter_dropdown .dropdown-multicol {
    width: 100%;
  }
  header .container #dropdown_filters .filter_dropdown .dropdown-multicol .dropdown-col {
    width: 100%;
  }
  header .container #dropdown_filters .filter_dropdown .dropdown-multicol .dropdown-col .dropdown-item {
    width: 50%;
  }
}

/*# sourceMappingURL=index.css.map */
